@page
@model GestionOfLivre.Pages.Editeur.EditeurModel
@{

    <h3>Liste des Editeurs</h3>
    <a class='btn btn-primary btn-sm' href='/EditeurCreate'> Nouveau Editeur</a>
    <table class="table">
        <thead>
            <tr>
                <th>IDEditeur</th>
                <th>NomEditeur</th>
                <th>DescripEditeur</th>
                <th>EmailEdit</th>
                <th>telephonrEdi</th>
                <th>AddressEdit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.listEditeur)
            {
                <tr>
                    <td>@item.IDEditeur</td>
                    <td>@item.NomEditeur</td>
                    <td>@item.DescripEditeur</td>
                    <td>@item.EmailEdit</td>
                    <td>@item.telephonrEdi</td>
                    <td>@item.AddressEdit</td>
                    <td>
                        <a class='btn btn-primary btn-sm' href='/EditeurEdit?IDEditeur=@item.IDEditeur'> Editer </a>
                        <a class='btn btn-danger btn-sm' href='/EditeurDelete?IDEditeur=@item.IDEditeur'> supprimer</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}